@model Expense_Tracker.Models.LoginViewModel
@{
    Layout = "_AuthLayout";
    ViewData["Title"] = "Login";
}

<h2>Welcome Back</h2>

<form asp-action="Login" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>

    <div class="mb-3">
        <label asp-for="Email" class="form-label"></label>
        <input asp-for="Email" class="form-control" placeholder="Enter email" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Password" class="form-label"></label>
        <input asp-for="Password" class="form-control" placeholder="Enter password" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>

    <div class="mb-4 form-check">
        <input asp-for="RememberMe" class="form-check-input" />
        <label asp-for="RememberMe" class="form-check-label" style="color:#adb5bd;"></label>
    </div>

    <button type="submit" class="btn btn-success w-100">Login</button>
</form>

<p class="text-center mt-3 mb-0" style="color:#adb5bd;">
    Don't have an account? <a asp-action="Register">Register</a>
</p>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
